.v {
    box-sizing: border-box;
    /* padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;*/
    padding-bottom: 150px;
    margin-top: 150px;
    margin-left: 300px;
    margin-right: 300px;
    width: auto ;
    height: auto;
    border: 10px solid cadetblue;
    background: whitesmoke;
    /* margin: 10px; */
  }